{% extends 'base.html' %}

{% block content %}
    <br><div style="text-align:center"><h2 >{% block title %} Bem-vindo(a) ao Controle de Férias! {% endblock title %}</h2></div>
    {% for cf2 in cf %}
        <a href="{{ url_for('cf2', cf2_id=cf2['id']) }}">
            <h5 style="text-transform:uppercase">{{ cf2.pessoa }}
            </h5>
        </a>
        <span class="badge badge-primary"> Empresa: {{ cf2['empresaid'] }} </span>        
        <a href="{{ url_for('editar', cf2_id=cf2['id']) }}">
            <span class="badge badge-warning">Editar</span>
        </a>       
        <hr>
    {% endfor %}
{% endblock %} 
