{% extends 'base.html' %}

{% block content %}
<br><h3>{% block title %} NOVO LANÇAMENTO DE FÉRIAS {% endblock %}</h3>

<form method="post">
    <div class="form-group">
        <label for="empresaid">Empresa</label>
        <input type="Number" required autocomplete="off" autofocus name="empresaid" placeholder="Cód. Empresa" class="form-control" value="{{ request.form['empresaid'] }}"></input>
    </div>

    <div class="form-group">
        <label for="pessoa">Nome Colaborador (a)</label>        
        <input type="text" required style="text-transform:uppercase" autocomplete="off" name="pessoa" placeholder="" class="form-control" value="{{ request.form['pessoa'] }}"></input>
    </div>

    <div class="form-group">
        <label for="data_inicio_ferias">Início das férias</label>
        <input type="Date" required autocomplete="off" name="data_inicio_ferias" placeholder="" class="form-control" value="{{ request.form['data_inicio_ferias'] }}"></input>
    </div>    

    <div class="form-group">
        <label for="data_fim_ferias">Fim das férias</label>
        <input type="Date" required autocomplete="off" name="data_fim_ferias" placeholder="" class="form-control" value="{{ request.form['data_fim_ferias'] }}"></input>        
    </div>        

    <div class="form-group">
        <label for="valor_ferias">Valor das férias</label>
        <input type="text" required autocomplete="off" name="valor_ferias" placeholder="" class="form-control" value="{{ request.form['valor_ferias'] }}"></input>
    </div>        

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gravar</button>
    </div>
</form>
{% endblock %}